/* html 기본 적용 */
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* fonts */

@font-face {
  font-family: 'NanoomSquare';
  src: url('./fonts/NanumSquareR.ttf') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'NanoomSquare';
  src: url('./fonts/NanumSquareEB.ttf') format('woff2');
  font-weight: 800;
}

@font-face {
  font-family: 'Galmuri';
  src: url('./fonts/Galmuri11.woff2') format('woff2');
}

@font-face {
  font-family: 'Galmuri';
  src: url('./fonts/Galmuri11-Bold.woff2') format('woff2');
  font-weight: 700;
}
